<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client Main</title>
</head>
<body>
nuguri oauth login <a th:href="@{${nuguriLoginUri}}">nuguri login</a><br>
naver oauth login <a th:href="@{${naverLoginUri}}">naver login</a><br>
facebook oauth login <a th:href="@{${facebookLoginUri}}">facebook login</a><br>
google oauth login <a th:href="@{${googleLoginUri}}">google login</a><br>
kakao oauth login <a th:href="@{${kakaoLoginUri}}">kakao login</a><br>

<h1 sec:authorize="isAuthenticated()" sec:authentication="principal.account.name"></h1>
<br><br>
<a href="/logout" sec:authorize="isAuthenticated()">logout</a>
</body>
</html>