<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorization Account Main</title>
</head>
<body>
<h1>Welcome!! Account Server</h1>
<h2 sec:authorize="isAuthenticated()">Hello!! <span sec:authentication="name" th:remove="tag"></span></h2>
<div>
    <h3>Service</h3>
    <span sec:authorize="isAnonymous()"><a href="/login">login</a></span>
    <span sec:authorize="isAuthenticated()"><a href="/logout">logout</a></span>
</div>
<div>
    <h3>API Document</h3>
    <a href="/docs/account.html">account</a>
</div>
</body>
</html>